# Laravel y herramientas comunes
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.phpunit.cache
auth.json

/.fleet
/.idea
/.nova
/.vscode
/.zed
/.vagrant

/vendor
/vendor/
/node_modules
node_modules/
npm-debug.log
yarn-error.log

/public/build
/public/hot
/public/storage
/public_html/storage
/public_html/hot

/storage/*.key
/storage/pail

Homestead.json
Homestead.yaml
Thumbs.db

# Laravel 4
bootstrap/compiled.php
app/storage/
